.formSeparateLayer{
    height: var(--formHeight);
    line-height: var(--formHeight);
    width: 98%;
    padding-left: 2%;
    font-weight: bold;
    font-size: var(--formTtileFontSize);
    color: var(--subjectColor);
    border-bottom: 2px solid var(--subjectColor);
    text-align: left;

//color: #fff;
//background-color: #c0b4e4;
//background-color: var(--subjectColor);
}