.formSeparateLayer{
    height: var(--formHeight);
    line-height: var(--formHeight);
    width: 98%;
    padding-left: 2%;
    font-weight: bold;
    color: #fff;
    font-size: var(--formTtileFontSize) - 2px;
    background-color: #c0b4e4;
    text-align: left;
}