.result-search{
    height: 100px;
    width: 100%;
}

.result-search-dataPicker{
    margin-top: 15px;
    height: 55px;
    width: 350px;
    float: left;
}

.result-search-bar{
    height: 100%;
    width: calc(100% - 400px);
    float: right;
}

.result-view{
    position: relative;
    height: auto;
    min-height: calc(100vh - 230px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.result-nextPage{
    position: fixed;
    bottom: 5px;
    right: 20px;
    height: 25px;
    width: 70px;
    line-height: 25px;
    background-color: #483291;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    cursor: pointer;
}

.result-nextPage:hover{
    background-color: #66CCFF;
}