/**
 * deprecated

.formSeparateLayer{
    height: var(--formHeight);
    line-height: var(--formHeight);
    width: 98%;
    padding-left: 2%;
    color: #fff;
    font-size: var(--formTtileFontSize);
    font-weight: bold;
    background-color: var(--subjectColor);
    text-align: left;
    opacity: 0.8;
}

*/
