/**
 * deprecated

.history-search{
    height: 100px;
    width: 100%;
    background-color: red;
}

.history-view{
    height: auto;
    min-height: calc(100vh - 230px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

 */
