.home-view{
    height: calc(100vh - 130px);
    /*min-height: 650px;*/
    width: 100%;
}

.date-Button{
    position: absolute;
    height: 30px;
    width: 72px;
    border-radius: 15px;
    top:30px;
    right: 30px;
    background-color:#70bf54;
}

.date-Button:hover{
    box-shadow: 0px 5px 10px #555;
}
.home-arrowLeft{
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 27px;
    width: 30px;
    border: 3px solid #70bf54;
}

.home-arrowRight{
    float: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 27px;
    width: 30px;
    border: 3px solid #70bf54;
}

.border-right{
    border-right: 3px solid #464f53;
}
.border-top{
    border-top: 3px solid #464f53;
}
.border-bottom{
    border-bottom: 3px solid #464f53;
}
.border-left{
    border-left: 3px solid #464f53;
}


.home-arrowLeft .icon,
.home-arrowRight .icon{
    height: 20px;
    width: 20px;
    margin-top: 4px;
    cursor: pointer;
    color: white;
    webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.home-arrowLeft .icon:hover,
.home-arrowRight .icon:hover{
    color: lightgrey;
}
.home-arrowLeft:hover{
    opacity: 1;
}
.home-arrowRight:hover{
    opacity: 1;
}

.chart-hint{
    position: absolute;
    float: left;
    width: 15px;
    height: 15px;
    margin-top: -29px;
    margin-left: 390px;
    color: var(--fontColorGrey);
    cursor: pointer;
}

.chart-hint .icon{
    position: relative;
    height: 16px;
    width: 15px;
    z-index: 1000;
}


.chart-hint-box{
    position: absolute;
    color: white;
    top: 29px;
    right: -90px;
    text-align: center;
    width:180px;
    height:auto;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
}

.chart-hint-arrow{
    position: absolute;
    right: 87px;
    top:-20px;
    width:0;
    height:0;
    z-index: 0;
    border: 10px solid transparent;
    border-bottom-color: #454545;
}

.chart-hint-text{
    position: absolute;
    width:calc(100% - 10px);
    height:auto;
    padding: 5px 5px 5px 5px;
    z-index: 0;
    background-color: #454545;
    border-radius: 5px;
    font-size: 12px;
}
.chart-hint:hover{
    color: #66CCFF;
}

.chart-hint:hover .chart-hint-box{
    display: block;
    visibility: visible;
    opacity: 1;
}
