.detail-view{
    height: auto;
    min-height: calc(100vh - 230px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.detail-search{
    height: 100px;
    width: 100%;
    background-color: red;
}

table {
    display: inline-block;
    border: 1px ;
}