.receipt-content{
    height: 100%;
    width: 100%;

}

.receipt-content-table{
    height: 700px;
    width: 100%;
    margin:0 auto;
}

.receipt-content-back{
    height: 50px;
    width: 100%;
}

.receipt-table{
    height: auto;
    width: 47%;
    margin: 0 1% 0 2%;
    float: left;
}

.receipt-table > div{
    margin-top: 40px;
    height: auto;
    width: 100%;
}

.receipt-table-reconciled{
    height: 50px;
    width: 180px;
    margin-left: calc(50% - 90px);
}

.receipt-table-reconciled button{
    display: block;
    line-height: 48px;
    border: 2px solid black;
    background-color: #d9534f;
    color: black;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 16px;
}

.receipt-table-reconciled button:hover{
    background-color: #66CCFF;
}

.receipt-back-btn{
    height: 40px;
    width: 100px;
    margin-left: calc(100% - 100px - 30px);
}

.receipt-back-btn a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
}

.receipt-back-btn a:hover{
    border: 3px solid #aaaaaa;
    color: #aaaaaa;
}
