.receipt-content{
    height: 100%;
    width: 100%;

}

.receipt-content-table{
    height: 700px;
    width: 100%;
    margin:0 auto;
}

.receipt-content-btn-group{
    position: relative;
    height: 34px;
    width: 96%;
    margin: 0 auto;
}

.receipt-content-btn{
    width: 50%;
    height: 100%;
    float: left;
}

.receipt-content-btn p{
    margin: 0 auto;
    width: 200px;
    display: block;
    line-height: 34px;
    background-color: var(--subjectColor);
    color: white;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

.receipt-content-btn .default-btn{
    display: inline-block;
    float: right;
    height: 32px;
    width: 100px;
    color: #333;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    font-size: 16px;
    line-height: 34px;
}

.receipt-content-btn .default-btn:hover{
    background-color: lightgrey;
}
.receipt-content-btn p:hover{
    background-color: #66CCFF;
}

.receipt-table{
    height: auto;
    width: 47%;
    margin: 0 1% 0 2%;
    float: left;
}

.receipt-table > div{
    margin-top: 40px;
    height: auto;
    width: 100%;
}

.receipt-table-reconciled{
    height: 50px;
    width: 180px;
    margin-left: calc(50% - 90px);
}




.receipt-back-btn{
    height: 40px;
    width: 100px;
    margin-left: calc(100% - 100px - 30px);
}

.receipt-back-btn a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
}

.receipt-back-btn a:hover{
    border: 3px solid #aaaaaa;
    color: #aaaaaa;
}
