.loading-hidden{
    display: none;
}

.loading{
    position: fixed;
    top: calc(50% - 45px);
    right: calc(50% - 45px);
    width: 55px;
    height: 55px;
}

.loading-spinner0,
.loading-spinner1,
.loading-spinner2,
.loading-spinner3{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: #66CCFF transparent transparent transparent;
    animation: rotate 1s cubic-bezier(0.7, 0, 0.7, 1) infinite;
}

.loading-spinner0{
    animation-delay: 0.1s;
}
.loading-spinner1{
    animation-delay: 0.2s;
}
.loading-spinner2{
    animation-delay: 0.3s;
}
.loading-spinner3{
    animation-delay: 0.4s;
}


@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


