.title-container{
    position: relative;
    height: 45px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid var(--subjectColor);
}

.title-container p{
    position: absolute;
    margin-left: 30px;
    bottom: 6px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: var(--subjectColor);
}