.main-wrapper{
    height: auto;
    min-width: 800px;
    width: 96vw;
    margin: 0 auto;
    text-align: left;
}

.result-title{
    height: 50px;
    line-height: 50px;
    width: 100%;
}

.result-title p{
    font-size: 16px;
    font-weight: bold;
    color: var(--subjectColor);
}

.main-content{
    width: 100%;
    height: calc(100vh - 200px - 50px);
    margin-bottom: 50px;
    min-height: 600px;
}

.main-content > div{
    height: 100%;
    width: 49%;
    background-color: white;
}

/* chart */
.chart-content{
    position: relative;
    float: left;
    border-radius: 5px;
}

.chart-content p{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: var(--fontColorGrey);
}

/* Details*/
.detail-content{
    position: relative;
    border-radius: 5px;
    float: right;
}

/* time picker*/
.timePicker{
    padding: 0px 0px 0px 0px;
    height: 100px;
    width: 100%;

}

.time-Label{
    height: 100%;
    width: 40%;
    line-height: 100px;
    text-align: center;
}

.time-Label p{
    line-height: 100px;
    font-size: 16px;
    font-weight: bold;
    color: var(--fontColorGrey);
}
.time-Selected{
    margin-top: 24px;
    height: 80px;
    width: 30%;
}

/* button group */
.detail-btn-group{
    position: absolute;
    right: 5px;
    top: 10px;
}

.detail-btn-group a{
    margin-bottom: 5px;
    background-color: transparent;

}

.detail-btn-group a:hover{
    border-color: var(--hoverColor);
    color: var(--hoverColor);
}

.picker-isClicked{
    border-color: var(--hoverColor);
    color: var(--hoverColor);
}
/* record item */
.detail-page{
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.detail-page li{
    height: 40px;
    padding-left: 2%;
    width: 98%;
    line-height: 40px;
}

